In [1]:
import pandas as pd
# 10 12 11 3 4 89 32 34
# Creating a descision tree as a if else
# We divide the dataset with a flowchart-like structure tree to different nodes and edges as Yes or No

In [2]:
# Concept of Impurity Measures
## Impurity Measure: Quantitaive value that how many classes are present in the node/dataset
## The objective of the DT Algorithm to minimize the node impurity by finding the boundaries

In [ ]:
# The first node is found by the column having lowest impurity

In [4]:
# Impurity Measures
# Entropy:-

In [5]:
import numpy as np
def entropy(p1 , p2):
    if p1 == 0 and p2 == 0:
        return 0
    entropy_val = 0
    if p1 > 0:
        entropy_val -= p1 * np.log2(p1)
    if p2 > 0:
        entropy_val -= p2 * np.log2(p2)
    return entropy_val

In [6]:
entropy(5/14 , 9/14)

np.float64(0.9402859586706311)

In [7]:
## for independent variable find the reduction in the impurity , if we chose that independent variable as a split rule

In [8]:
## Entropy for temp
(4/14) * (entropy(2/4 , 2/4)) + (4/14) * (entropy(3/4 , 1/4)) + (6/14) * (entropy(4/6 , 2/6))

np.float64(0.9110633930116763)

In [9]:
## Entropy for Humidity
(7/14) * ((entropy(6/7 , 1/7)) + (entropy(3/7 , 4/7)))

np.float64(0.7884504573082896)

In [10]:
## Reduction = Overall - Entropy(column)
### Choose the column with maximum gain/reduction

In [11]:
import pandas as pd

df = pd.DataFrame({
    "Gender": ['M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'F', 
               'M', 'M', 'M', 'M', 'F', 'F', 'F', 'F', 'F', 'F'],
    "Car_Type": ["Family", "Sports", "Sports", "Sports", "Sports", "Sports", 
                 "Sports", "Sports", "Sports", "Luxury", "Family", "Family", "Family", 
                 "Luxury", "Luxury", "Luxury", "Luxury", "Luxury", "Luxury", "Luxury"],
    "Shirt_Size": ["S", "M", "M", "L", "XL", "XL", "S", "S", "M", "L", 
                   "L", "XL", "M", "XL", "S", "S", "M", "M", "M", "L"],
    "Class": ["C0", "C0", "C0", "C0", "C0", "C0", "C0", "C0", "C0", "C0", 
              "C1", "C1", "C1", "C1", "C1", "C1", "C1", "C1", "C1", "C1"]
})

df.head()

  Gender Car_Type Shirt_Size Class
0      M   Family          S    C0
1      M   Sports          M    C0
2      M   Sports          M    C0
3      M   Sports          L    C0
4      M   Sports         XL    C0

In [12]:
## OverAll Entropy
df.Class.value_counts()
entropy(10/20 , 10/20)

np.float64(1.0)

In [13]:
# Gender Entropy
total_male = df[(df.Gender=="M")].shape[0]
total_female = df[(df.Gender=="F")].shape[0]
male_yes = df[(df.Gender=="M") & (df.Class =="C0")].shape[0]
male_no = total_male - male_yes
female_yes = df[(df.Gender=="F") & (df.Class =="C0")].shape[0]
female_no = total_female - female_yes

In [14]:
total_male/20 * entropy(male_yes/total_male , male_no/total_male) + total_female/20 * entropy(female_no/total_female , female_yes/total_female)

np.float64(0.9709505944546686)

In [15]:
## CarType Entropy
df.Car_Type.value_counts()
total_sports = df[df.Car_Type == "Sports"].shape[0]
total_luxury =  df[df.Car_Type == "Luxury"].shape[0]
total_family =  df[df.Car_Type == "Family"].shape[0]
total_sports_yes = df[(df.Car_Type == "Sports") & (df.Class == "C0")].shape[0]
total_luxury_yes = df[(df.Car_Type == "Luxury") & (df.Class == "C0")].shape[0]
total_family_yes = df[(df.Car_Type == "Family") & (df.Class == "C0")].shape[0]
total_sports/20*(entropy(total_sports_yes / total_sports , (1- total_sports_yes)/total_sports))
+ total_family/20*(entropy(total_family_yes / total_family , (1- total_family_yes)/total_family))
+ total_luxury/20*(entropy(total_luxury_yes / total_luxury , (1- total_luxury_yes)/total_luxury))

np.float64(0.15000000000000002)

In [16]:
df.drop(columns=['Car_Type' , 'Gender']).groupby('Shirt_Size').value_counts()

Shirt_Size  Class
L           C0       2
            C1       2
M           C1       4
            C0       3
S           C0       3
            C1       2
XL          C0       2
            C1       2
Name: count, dtype: int64

In [ ]:
## How decision tree works with numerical columns?
# In the case of categorical column , the DT algorithm will take each unique value as a 
# category to compute weighted impurity measure and this will be super computationally expensive?

# We will bucketize the column into range so that there should not be high number of unique categories

## If the decision tree algorithm is not controlled then it will keep on dividing data upto it gets highest impurity state

In [ ]:
# Hyper-Parameter Tuning (it helps us the power to control the behaviour of the Decision Tree algo)

# Max-depth
# depth the number of constraints we let DT to create
# IF depth is less then it will create underfit model
# If depth is high then it will create a overfit model as it will try to create constraints for each unique value in column

In [ ]:
# Leaf Node: The nodes having the final label assigned
# Decision Node: Constraints applied to any node


# min-sample leaf
# Minimum number of records a leaf should have to be called Leaf node


# min-sample split
# Minimum number of records to be present in sample to be further splitted/ constraints applied

In [ ]:
# Outliers will only affect DT if only if there is high max-depth

# We do not need to perform feature scaling because both Entropy and Gini Index does not involve varibles

# Class imbalance highly impacts DT (We use weighted class balance)

# We can perform multiclass classification without any changes in algo

In [ ]:
# Decision Tree Regressor 
# Step-1 : Calculate the average of target feature to get the overall model
## The MSE will be high
# Step-2 : Calculate the MSE for overall model
 
# Step-3: Find the best split the get the least MSE